googletrans 
speechrecognition 
pydub 
python-multipart
aiohttp
fastapi
uvicorn
gtts
python-dotenv
aiohttp
cloudinary
ffmpeg-python
whisper-cpp
whispercpp @ git+https://github.com/ggerganov/whisper.cpp.git@main#egg=whispercpp


